<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Samarth Jain" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TTS</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <div id="logo">TTS</div>
      <div id="links">
        <a href="Home">Home</a><a href="#services">Service</a >
        <a href="About">About</a><a href="#contact">Contact Us</a >
        <a id="login" href="/login">Login</a>
      </div>
    </nav>

    <div id="sj-main">
      <div id="main">
        <textarea name="/text" id="text" placeholder="Enter you text here to convert into voice..." ></textarea>
        <div id="btns" class="p-5">
          <a href="../sj.wav" class="btn btn-success w-25" download>Download</a>

          <div id="playpausebtn" class="btn btn-danger px-4">
            <i class="ri-play-line"></i>
          </div>

          <button id="convert" class="btn btn-secondary w-25">Convert</button>
        </div>
      </div>

      <div id="main1">
        <div id="content">
          <p> It is not only the Text to speeck converter but also users make it the most used chat app. </p>
          <p> you can connect for free with anyone who has a account. You don’t even have to be a Facebook user or whatsapp user to use this app – just create account and enjoy chat </p>
          <br />
          <img id="chaticon" src="https://freepngimg.com/save/159749-speech-chat-icon-hq-image-free/500x500" alt="" />
        </div>

        <img src="https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="" />
      </div>

      <div id="main2">
        <p>If you’re looking for a fun way to connect with your contacts.</p>
        <p>Just login and chat</p>
        <a href="/login" class="btn btn-secondary" ><i class="ri-login-box-line"></i>Login</a >
      </div>

      <footer>
        <i class="ri-copyright-line"></i> Copyright 2022 All rights reserved
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
