* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#sj-main {
  position: relative;
  height: 100vh;
  width: 100%;
}
#sj-main > section {
  background-color: rgb(36, 65, 65) !important;
}
